@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "PT Sans", sans-serif;
    box-sizing: border-box;
}

header{
    display: flex;
    margin: 4.3em 6em;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 316px;
    height: 126px;
    
}
.up {
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
    font-size: 1.5em;

}

main {
    width: 87.5vw;
    height: 80vh;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin: 4.3em 6em;
}

.picture {
    width:40%;
    height: 100%;
    display: block;
}

h1 {
    font-size: 8em;
    font-weight: 400;
    margin: 0;
}

p{
    font-size: 2em;
}

.main-left{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.view_btn{
    display: block;
    width: fit-content;
    padding: 1.3em 2.3em;
    border: None;
    background-color: black;
    color: white;
    font-size: 1.5em;
}

.title{
    font-size: 5em;
    margin: 1em 1.4em 4.3em;
}

.container{
    /* padding: 4.3em 6em; */
    background-color: #E9ADC89E;
    display: flex;
    justify-content: space-between;
    gap: 100px;
    padding: 117px 130px;

}

.block-img{
    width: 340px;
    height: 340px;
}
